#cart-container{
    overflow-x: auto ;
}

#cart-container table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}

#cart-container table thead{
    font-weight: 700;
}

#cart-container table thead td{
    background-color: #000000 ;
    color:white;
    border: none;
    padding: 6px 0;
}

#cart-container table td{
  border: 1px solid black;
  text-align: center;
}

#cart-container table td:nth-child(1){
    width: 100px;
}

#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3){
    width: 200px;
}

#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6){
    width: 170px;
}

#cart-container table tbody img{
    width: 100px;
    height: 100px;
}

#cart-bottom .coupon>div,
#cart-bottom .total>div{
    border: 1px solid black;
}

#cart-bottom .coupon h5,
#cart-bottom .total h5{
   
    background-color: #0c0c0c ;
    color:white;
    border: none;
    padding: 6px 12px;
    font-weight: 700;
}

#cart-bottom .coupon p,
#cart-bottom .coupon input,
#cart-bottom .coupon button{

    padding: 0 12px;
    margin-bottom: 5px;
}

#cart-bottom .coupon input{
    height: 44px;
}

#cart-bottom .coupon input{
    margin: 0 0 20px 12px;
}

#cart-bottom .total div>div{
    padding: 0 12px;
}

#registerButton{
    margin: 0 12px 20px 0;
    display:flex;
    justify-content: center;
}


a{
    text-decoration: none;
    color:white;
  }
  
  a:hover{
    color:red;
  }
  