<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
    <!-- external css -->
    <link rel="stylesheet" href="/css/gallery.css">
    <title>Gallery Page</title>
</head>
<body>
     <!-- header -->
     <div class="container">
        <nav class="navbar navbar-expand-lg navbar-black d-flex">
            <div class="d-md-none">
                <a href="/html/index.html" class="thumbnail navbar-brand logo ">
                    <img
                    src=
                    "/img/svg/hamburger.svg"
                    style="height: 60px; width: 60px"
                    />
                </a>
            </div>
            
            <div class="d-sm-none  d-md-block d-none d-md-block">
                <a href="#" class="thumbnail navbar-brand logo">
                    <img
                    src=
                    "/img/svg/noun-sneaker-2278555.svg"
                    style="height: 60px; width: 60px"
                    />
                </a>
            </div>
            
            <div class="container justify-content-center position-absolute">
                
                
              
                <a href="#" class="link-dark text-decoration-none"><h1 class="mt">Sneakers & Shoes</h1></a>

            </div>
            
            <div class = "d-sm-none  d-md-block d-none d-md-block">
                <a href="#" class="thumbnail navbar-brand logo">
                    <img
                    src=
                    "/img/svg/search.svg"
                    style="height: 40px; width: 40px"
                    />
                </a>
                <a href="#" class="thumbnail navbar-brand logo">
                    <img
                    src=
                    "/img/svg/cart.svg"
                    style="height: 40px; width: 40px"
                    />
                </a>
            </div>
        </nav>
    </div>
    <!-- navbar -->
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-black d-flex d-sm-none  d-md-block d-none d-md-block py-0">
            
            
            
            <div class="container d-block ">
                <div class="row">
                    <div class="col-md-3 text-center text-white py-2 ">
                        <a href="#" th:href="@{/}" class="">  <span class="mt-n3">Home Page</span></a>
                    </div>
                    <div class="col-md-3 text-center text-white py-2"> 
                        <a href="#" class=""><span>Sports</span></a>
                    </div>
                    <div class="col-md-3 text-center text-white py-2">
                        <a href="#" class=""><span>Promo</span></a>
                    </div>
                    <div class="col-md-3 text-center text-white py-2">
                        <a href="#" th:href="@{/login}" class="">  <span>Login</span></a>
                      
                    </div>
                </div>
                
            </div>
            
   
        </nav>
    </div>
   <!-- product -->
    <section class="p-5 text-center">
        <div class="container bg-light">
            <h2 class="my-4 pt-4 " id="newReleasesHeader">New Releases</h2>
            
            <div class="row">
              
                <div class="col-md" th:each="sneaker, stat: ${sneaker}" th:if="${stat.count < 4}">
                    <a href="#" th:href="@{/product}">
                        <div class="card bg-white text-dark ">
                        
                            <img class="img-fluid " th:src="@{${sneaker.image}}" alt="Promo of product X">
                        </div>
                    </a>
                    
                    <h4 th:text="${sneaker.name}"/>
                  
                    <h4 th:text="${sneaker.marketvalue}"/>
                    
                    <form action="#" th:action="@{/product}" method="post" th:object="${s1}">
                    
                        <div class="col-lg-7">
                            <input type="hidden" placeholder="s1 name" class=""  th:value="${sneaker.name}" th:name="name" th:id="name">
                        </div>
                         <div class="col-lg-7">
                            <input type="hidden" placeholder="s1 price" class="" th:value="${sneaker.marketvalue}" th:name="marketvalue" th:id="marketvalue" >
                        </div>
                         <div class="col-lg-7">
                            <input type="hidden" placeholder="s1 image" class="" th:value="${sneaker.image}" th:name="image" th:id="image">
                        </div>
                         <div class="col-lg-7">
                            <input type="hidden" placeholder="s1 sku" class="" th:value="${sneaker.sku}" th:name="sku" th:id="sku">
                        </div>
                         <div class="col-lg-7">
                            <input type="hidden" placeholder="s1 brand" class="" th:value="${sneaker.brand}" th:name="brand" th:id="brand">
                        </div>
                         <div class="col-lg-7">
                            <input type="hidden" placeholder="s1 gender" class="" th:value="${sneaker.gender}" th:name="gender" th:id="gender">
                        </div>
                         <div class="col-lg-7">
                            <input type="hidden" placeholder="s1 colorway" class="" th:value="${sneaker.colorway}" th:name="colorway" th:id="colorway">
                        </div>
                         <div class="col-lg-7">
                            <input type="hidden" placeholder="s1 realease date" class="" th:value="${sneaker.releasedate}" th:name="releasedate" th:id="releasedate">
                        </div>
                         <div class="col-lg-7">
                            <input type="hidden" placeholder="s1 retail price" class="" th:value="${sneaker.retailprice}" th:name="retailprice" th:id="retailprice">
                        </div>
                        
                        
                        
                        <div class="col-lg-7">
                            <button type="submit" class="btn btn-dark btn-sm my-2">submit</button>
                        </div>
                    </form>
                    
                </div>
                    
            </div>
        </div>
    </section>
    </section>
    <!-- video -->
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-around  " id="promoBannerBackground"> 
        <div>
            <h1 class="display-1 d-none d-md-block ">
               S*N*S
            </h1>
        </div>

        <div class="embed-responsive embed-responsive-16by9 py-2 px-2 bg-black">
            <iframe class="embed-responsive-item" src="/video/Commercial .mp4" allowfullscreen sandbox></iframe>
          </div>
          <div>
            <h1 class="display-1 d-none d-md-block ">
                S*N*S
            </h1>
        </div>
        </div>
    </div>

    <!-- product -->
    <section class="p-5 text-center">
        <div class="container bg-light">
            <h2 class="my-4 pt-4 " id="newReleasesHeader">Sneaker Gallery</h2>
            
            <div class="row">
              
                <div class="col-md"  th:each="sneaker, stat: ${sneaker}">
                    <a href="#" th:href="@{/product}">
                        <div class="card bg-white text-dark" style="width: 18rem;">
                        
                            <img class="img-fluid " th:src="@{${sneaker.image}}" alt="Promo of product X">
                        </div>
                    </a>
                    
                    <h4 th:text="${sneaker.name}"/>
                  
                    <h4 th:text="${sneaker.marketvalue}"/>
                    
                    <form action="#" th:action="@{/product}" method="post" th:object="${s1}">
                    
                        <div class="col-lg-7">
                            <input type="hidden" placeholder="s1 name" class=""  th:value="${sneaker.name}" th:name="name" th:id="name">
                        </div>
                         <div class="col-lg-7">
                            <input type="hidden" placeholder="s1 price" class="" th:value="${sneaker.marketvalue}" th:name="marketvalue" th:id="marketvalue" >
                        </div>
                         <div class="col-lg-7">
                            <input type="hidden" placeholder="s1 image" class="" th:value="${sneaker.image}" th:name="image" th:id="image">
                        </div>
                         <div class="col-lg-7">
                            <input type="hidden" placeholder="s1 sku" class="" th:value="${sneaker.sku}" th:name="sku" th:id="sku">
                        </div>
                         <div class="col-lg-7">
                            <input type="hidden" placeholder="s1 brand" class="" th:value="${sneaker.brand}" th:name="brand" th:id="brand">
                        </div>
                         <div class="col-lg-7">
                            <input type="hidden" placeholder="s1 gender" class="" th:value="${sneaker.gender}" th:name="gender" th:id="gender">
                        </div>
                         <div class="col-lg-7">
                            <input type="hidden" placeholder="s1 colorway" class="" th:value="${sneaker.colorway}" th:name="colorway" th:id="colorway">
                        </div>
                         <div class="col-lg-7">
                            <input type="hidden" placeholder="s1 realease date" class="" th:value="${sneaker.releasedate}" th:name="releasedate" th:id="releasedate">
                        </div>
                         <div class="col-lg-7">
                            <input type="hidden" placeholder="s1 retail price" class="" th:value="${sneaker.retailprice}" th:name="retailprice" th:id="retailprice">
                        </div>
                        
                        
                        
                        <div class="col-lg-7">
                            <button type="submit" class="btn btn-dark btn-sm">submit</button>
                        </div>
                    </form>
                    
                </div>
                    
            </div>
        </div>
    </section>
        
    </section>
    <!-- footer -->
    <footer class="p-5 bg-dark text-white 
    text-center">
        <div class="container">
            <p>©2022 Sneakers & Shoes inc. All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>